body {
    font-family: Helvetica;
    margin: 0;
    background-color: #FFF6DA;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #000;
}

.conteiner {
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.title-center {
    all: inherit;
    display: flex;
    font-size: 24px;
    width: 40%;
    border-bottom: 2px solid #A6741A;
}

.content-center {
    all: inherit;
    display: flex;
    width: 60%;
    text-align: center;
    line-height: 120%;
    font-size: 120%;
}
