.current {
    text-decoration: line-through;
}

.site-header {
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
    display: flex;
    justify-content: space-between;
}

.site-identity h1 {
    font-size: 1.5em;
    margin: .6em 0;
    display: inline-block;
}

.site-header .site-identity .contact-logo img {
    margin-bottom: 7%;
}


.site-navigation ul,
.site-navigation li {
    margin: 0;
    padding: 0;
}

.site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
}


.header-image {
    padding-top: 0%;
    width: 1440px;
    height: 1130px;
}

.header-image img {
    width: 100%;
}

.header-image .content {
    position: absolute;
    bottom: 5px;
    right: 8px;
    width: 40%;
    top: 40%;
    margin-right: 7%;
}

.header-image h1 {
    margin-top: 50%;
    text-align: center;
    font-size: 96px;
}

.header-image .content p {
    text-align: center;
    font-size: 24px;
}

/* Кнопка выпадающего списка */
.dropbtn {
  background-color: #FFF6DA;;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Кнопка выпадающего меню при наведении и фокусировке */
.dropbtn:hover, .dropbtn:focus {
  background-color: #DFC698;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #DFC698;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
    background-color: #DFC698;
}

/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
.show {display:block;}